# Java (Spring Boot)
/backend/target/
/backend/**/*.class

# Node (React with Vite)
/frontend/node_modules/
/frontend/dist/
/frontend/build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Logi
*.log
